# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Ignore system files
.DS_Store
Thumbs.db
Desktop.ini
NTUSER.DAT*
AppData/
OneDrive/
Saved Games/
Searches/
Videos/
Pictures/
Music/
Contacts/
Downloads/
Documents/
Desktop/
Links/

# Ignore development environment files
node_modules/
.next/
.vscode/
.idea/
*.log
*.tmp
*.swp

# Ignore Python and Jupyter files
*.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd
*.anaconda
*.jupyter
*.ipython

# Ignore Java, Eclipse, and Gradle files
.gradle/
.idea/
eclipse-workspace/

# Ignore VirtualBox and Cloud Sync Folders
.VirtualBox/
Creative Cloud Files*/

